.App {
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(200, 249, 255) !important;
  }

  .todo-list {
    background-color: rgb(237, 254, 255) !important;
  }

  .icon-button {
    transition: all 0.3s !important;
    -webkit-transition: all 0.3s !important;
    -moz-transition: all 0.3s !important;
    -ms-transition: all 0.3s !important;
    -o-transition: all 0.3s !important;
  }

  .icon-button:hover {
    scale: 1.1;
  }

  .todo-card {
    background-color: rgb(255, 255, 255) !important;
    transition: all 0.3s !important;
    -webkit-transition: all 0.3s !important;
    -moz-transition: all 0.3s !important;
    -ms-transition: all 0.3s !important;
    -o-transition: all 0.3s !important;
  }

  .todo-card:hover {
    padding: 5px 0px;
    cursor: pointer;
  }

  @font-face {
    font-family: myFont;
    src: url(../public/fonts/BarlowCondensed-Medium.ttf);
  }